**/outputs
**/__pycache__
src/raw-data
src/transformed-data
**/logs
**/experiments/**/*.png
**/sd35-delineo-finetuned-*
src/experiments/upload_checkpoint.py
**/wandb
notarycli
**/sd-scripts-sd3
src/training/.checkpoints