**/outputs
**/__pycache__
src/raw-data
src/transformed-data
**/logs

**/sd35-delineo-finetuned-*
src/experiments/upload_checkpoint.py
**/wandb
notarycli
**/diffusers
src/training/lora/dataset
src/training/.checkpoints